In [ ]:
#Завдання 1
#Виведіть перші 5 рядків таблиці.
import pandas as pd
import numpy as np

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

print(data.head(5))

    Рік В національній валюті В доларах США  \
0  1992              5832,88▲        28,04▼
1  1993               163533▲        36,03▲
2  1994              1426343▲        44,99▲
3  1995              7304000▲        49,53▲
4  1996               125,23▼        68,45▲

  Кількість кг хліба[20] на середню зарплату  \
0                                   1015,67▲
1                                    430,42▼
2                                    372,76▼
3                                    201,76▼
4                                    198,62▼

  Кількість БігМаків на середню зарплату
0                                      —
1                                      —
2                                      —
3                                      —
4                                      —

In [ ]:
#Завдання 2
#Визначте кількість рядків і стовпчиків за допомогою атрибуту shape
import pandas as pd
import numpy as np

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"
data = pd.read_html(url, header=0)[2]

кількість_рядків, кількість_стовпчиків = data.shape
print(f"Кількість рядків: {кількість_рядків}")
print(f"Кількість стовпчиків: {кількість_стовпчиків}")

Кількість рядків: 32
Кількість стовпчиків: 5

In [ ]:
#Завдання 3
#Визначте загальну кількість років та кількість місяців у даних.
import pandas as pd

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

data['Дата'] = pd.to_datetime(data['Дата'])
data['Рік'] = data['Дата'].dt.year
data['Місяць'] = data['Дата'].dt.month

кількість_років = data['Рік'].nunique()
кількість_місяців = data['Місяць'].nunique()

print(f'Загальна кількість років: {кількість_років}')
print(f'Загальна кількість місяців: {кількість_місяців}')

In [ ]:
#Завдання 4
#Замінити пропущені значення  «-» в таблиці на NaN
import pandas as pd

import numpy as np

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

data.replace("-", np.nan, inplace=True)

In [ ]:
#Завдання 5
#Визначити тип стовпців за допомогою dtypes.
import pandas as pd
import numpy as np

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]
column_types = data.dtypes
print(column_types)

Рік                                           object
В національній валюті                         object
В доларах США                                 object
Кількість кг хліба[20] на середню зарплату    object
Кількість БігМаків на середню зарплату        object
dtype: object

In [ ]:
#Завдання 6
#Видаліть передостанній і останній стовпчики ( Кількість кгхліба[20] на середнюзарплату,  Кільксть БігМаків на середню зарплату). Далі працюйте з оновленою таблицею.
import pandas as pd

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

data = data.iloc[:, :-2]

In [ ]:
#Завдання 7
#Замінити тип нечислових даних на числові
import pandas as pd

import numpy as np

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

def convert_to_numeric(value):
    try:
        return pd.to_numeric(value, errors='coerce')
    except ValueError:
        return np.nan

data = data.applymap(convert_to_numeric)

In [ ]:
#Завдання 8
#Порахуйте частку пропусків в кожній колонці (за допомогою методів isnull , sum, len)
import pandas as pd

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

missing_percentages = (data.isnull().sum() / len(data)) * 100

print("Процент пропусків в кожній колонці:")
print(missing_percentages)

Процент пропусків в кожній колонці:
Рік                                           0.0
В національній валюті                         0.0
В доларах США                                 0.0
Кількість кг хліба[20] на середню зарплату    0.0
Кількість БігМаків на середню зарплату        0.0
dtype: float64

In [ ]:
#Завдання 9
#Замініть всі пропущені значення на середні значення по (стовпцю)
import pandas as pd
import numpy as np

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

mean_values = data.mean()

data = data.fillna(mean_values)

print(data)

      Рік В національній валюті В доларах США  \
0    1992              5832,88▲        28,04▼
1    1993               163533▲        36,03▲
2    1994              1426343▲        44,99▲
3    1995              7304000▲        49,53▲
4    1996               125,23▼        68,45▲
5    1997               143,09▲        76,86▲
6    1998               152,83▲        62,39▼
7    1999               177,39▲        42,95▼
8    2000               231,04▲        42,47▼
9    2001               311,62▲        58,01▲
10   2002               375,98▲        70,59▲
11   2003               462,58▲        86,74▲
12   2004               590,53▲       111,02▲
13   2005               806,14▲       157,30▲
14   2006              1042,88▲       206,51▲
15   2007              1352,75▲       267,87▲
16   2008              1808,92▲       343,43▲
17   2009              1909,25▲       245,05▼
18   2010              2246,75▲       283,12▲
19   2011              2639,17▲       331,24▲
20   2012              3031,92▲       379,42▲
21   2013              3273,82▲       409,59▲
22   2014              3474,75▲       292,32▼
23   2015              4207,33▲       162,60▼
24   2016              5187,33▲       203,02▲
25   2017              7105,42▲       267,16▲
26   2018              8867,33▲       325,99▲
27   2019             10503,75▲       406,40▲
28   2020             11596,60▲       430,21▲
29   2021             14017,80▲       514,41▲
30  2022*             13376,21▼       380,00▼
31  2023*             12954,12▼       327,70▼

   Кількість кг хліба[20] на середню зарплату  \
0                                    1015,67▲
1                                     430,42▼
2                                     372,76▼
3                                     201,76▼
4                                     198,62▼
5                                     211,13▲
6                                     177,69▼
7                                     180,68▲
8                                     117,51▼
9                                     153,57▲
10                                    213,84▲
11                                    276,27▲
12                                    276,06▼
13                                    332,05▲
14                                    441,28▲
15                                    498,66▲
16                                    585,00▲
17                                    497,02▼
18                                    527,82▲
19                                    564,37▲
20                                    585,38▲
21                                    625,00▲
22                                    642,39▲
23                                    517,22▼
24                                    441,05▼
25                                    450,35▲
26                                    497,05▲
27                                    528,09▲
28                                    549,08▲
29                                    560,03▲
30                                    409,57▼
31                                    367,85▼

   Кількість БігМаків на середню зарплату
0                                       —
1                                       —
2                                       —
3                                       —
4                                       —
5                                  20[21]
6                                    н.д.
7                                 24▲[22]
8                                    н.д.
9                                 50▲[23]
10                                   н.д.
11                                   н.д.
12                                    81▲
13                                   111▲
14                                   123▲
15                                   146▲
16                                   164▲
17                                   136▼
18                                   155▲
19                                   160▲
20                                   202▲
21                                   172▼
22                                   182▲
23                                   124▼
24                                   133▲
25                                   161▲
26                                   177▲
27                                   184▲
28                                   187▲
29                                   216▲
30                                   132▼
31                                   123▼

<ipython-input-29-ad60f2b9ec14>:10: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_values = data.mean()

In [ ]:
#Завдання 10
#Знайдіть рік з найвищою зарплатою в Україні в грн і вкажіть цю зарплату.

data = data[['Рік', 'Середній заробіток в Україні, грн.']]
і
data.columns = ['Рік', 'Середній_заробіток_грн']
у
data.dropna(subset=['Середній_заробіток_грн'], inplace=True)

data['Середній_заробіток_грн'] = data['Середній_заробіток_грн'].str.replace(' ', '').str.replace(',', '').astype(float)

рік_з_найвищою_зарплатою = data.loc[data['Середній_заробіток_грн'].idxmax()]['Рік']
найвища_зарплата = data['Середній_заробіток_грн'].max()

print(f"Рік з найвищою середньою зарплатою в Україні: {рік_з_найвищою_зарплатою}")
print(f"Середній заробіток в Україні в {рік_з_найвищою_зарплатою} році: {найвища_зарплата} грн")

In [3]:
#Завдання 11
#Знайдіть рік з мінімальною  зарплатою в Україні в дол. США і вкажіть цю зарплату.
import pandas as pd

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

data = data.dropna()

data = data[["Рік", "Середній розмір зарплати в доларах США"]]

data["Середній розмір зарплати в доларах США"] = data["Середній розмір зарплати в доларах США"].str.replace(" ", "").str.replace(",", ".").astype(float)

min_salary_year = data["Рік"][data["Середній розмір зарплати в доларах США"].idxmin()]
min_salary = data["Середній розмір зарплати в доларах США"].min()

print(f"Рік з мінімальною зарплатою в Україні в доларах США: {min_salary_year}")
print(f"Мінімальна зарплата в Україні в доларах США: {min_salary}")

In [5]:
#Завдання 12
#Виведіть роки, коли зарплата в грн була вище середньої
import pandas as pd

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

data = data.dropna()

data = data[["Рік", "Середній розмір зарплати в гривнях"]]

data["Середній розмір зарплати в гривнях"] = data["Середній розмір зарплати в гривнях"].str.replace(" ", "").str.replace(",", ".").astype(float)

average_salary = data["Середній розмір зарплати в гривнях"].mean()

years_above_average = data["Рік"][data["Середній розмір зарплати в гривнях"] > average_salary]
print(f"Роки, коли зарплата в Україні була вище середньої ({average_salary} грн):")
print(years_above_average.to_string(index=False))

In [7]:
#Завдання 13
#Створіть графік, що відображає  зарплату в Україні з часом (за роками).
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

data = data.dropna()

data = data[["Рік", "Середній розмір зарплати в гривнях"]]

data["Середній розмір зарплати в гривнях"] = data["Середній розмір зарплати в гривнях"].str.replace(" ", "").str.replace(",", ".").astype(float)

plt.figure(figsize=(12, 6))
plt.plot(data["Рік"], data["Середній розмір зарплати в гривнях"], marker='o', linestyle='-')
plt.title('Зарплата в Україні за роками')
plt.xlabel('Рік')
plt.ylabel('Середній розмір зарплати в гривнях')
plt.grid(True)

plt.show()

In [8]:
#Завдання 14
#Видаліть останній рік з таблиці та виведіть оновлену таблицю.
import pandas as pd

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

data = data.drop(data.index[-1])

print(data)

      Рік В національній валюті В доларах США  \
0    1992              5832,88▲        28,04▼
1    1993               163533▲        36,03▲
2    1994              1426343▲        44,99▲
3    1995              7304000▲        49,53▲
4    1996               125,23▼        68,45▲
5    1997               143,09▲        76,86▲
6    1998               152,83▲        62,39▼
7    1999               177,39▲        42,95▼
8    2000               231,04▲        42,47▼
9    2001               311,62▲        58,01▲
10   2002               375,98▲        70,59▲
11   2003               462,58▲        86,74▲
12   2004               590,53▲       111,02▲
13   2005               806,14▲       157,30▲
14   2006              1042,88▲       206,51▲
15   2007              1352,75▲       267,87▲
16   2008              1808,92▲       343,43▲
17   2009              1909,25▲       245,05▼
18   2010              2246,75▲       283,12▲
19   2011              2639,17▲       331,24▲
20   2012              3031,92▲       379,42▲
21   2013              3273,82▲       409,59▲
22   2014              3474,75▲       292,32▼
23   2015              4207,33▲       162,60▼
24   2016              5187,33▲       203,02▲
25   2017              7105,42▲       267,16▲
26   2018              8867,33▲       325,99▲
27   2019             10503,75▲       406,40▲
28   2020             11596,60▲       430,21▲
29   2021             14017,80▲       514,41▲
30  2022*             13376,21▼       380,00▼

   Кількість кг хліба[20] на середню зарплату  \
0                                    1015,67▲
1                                     430,42▼
2                                     372,76▼
3                                     201,76▼
4                                     198,62▼
5                                     211,13▲
6                                     177,69▼
7                                     180,68▲
8                                     117,51▼
9                                     153,57▲
10                                    213,84▲
11                                    276,27▲
12                                    276,06▼
13                                    332,05▲
14                                    441,28▲
15                                    498,66▲
16                                    585,00▲
17                                    497,02▼
18                                    527,82▲
19                                    564,37▲
20                                    585,38▲
21                                    625,00▲
22                                    642,39▲
23                                    517,22▼
24                                    441,05▼
25                                    450,35▲
26                                    497,05▲
27                                    528,09▲
28                                    549,08▲
29                                    560,03▲
30                                    409,57▼

   Кількість БігМаків на середню зарплату
0                                       —
1                                       —
2                                       —
3                                       —
4                                       —
5                                  20[21]
6                                    н.д.
7                                 24▲[22]
8                                    н.д.
9                                 50▲[23]
10                                   н.д.
11                                   н.д.
12                                    81▲
13                                   111▲
14                                   123▲
15                                   146▲
16                                   164▲
17                                   136▼
18                                   155▲
19                                   160▲
20                                   202▲
21                                   172▼
22                                   182▲
23                                   124▼
24                                   133▲
25                                   161▲
26                                   177▲
27                                   184▲
28                                   187▲
29                                   216▲
30                                   132▼

In [10]:
#Завдання 15
#Побудуйте графік, що відображає середню зарплату в Україні в розрізі років без останнього року
import pandas as pd
import matplotlib.pyplot as plt

url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

data = data.drop(data.index[-1])

data = data[["Рік", "Середній розмір зарплати в гривнях"]]

data["Середній розмір зарплати в гривнях"] = data["Середній розмір зарплати в гривнях"].str.replace(" ", "").str.replace(",", ".").astype(float)

plt.figure(figsize=(12, 6))
plt.plot(data["Рік"], data["Середній розмір зарплати в гривнях"], marker='o', linestyle='-')
plt.title('Середня зарплата в Україні (без останнього року)')
plt.xlabel('Рік')
plt.ylabel('Середній розмір зарплати в гривнях')
plt.grid(True)

plt.show()

In [11]:
#Завдання 16
#Обчисліть зарплату за останні два роки і порівняйте її із зарплатою за останні 5 років. Вкажіть, чи є різниця, і в якому напрямку.
import pandas as pd


url = "https://uk.wikipedia.org/wiki/%D0%A1%D0%B5%D1%80%D0%B5%D0%B4%D0%BD%D1%8F_%D0%B7%D0%B0%D1%80%D0%BE%D0%B1%D1%96%D1%82%D0%BD%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D0%B0_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%96"

data = pd.read_html(url, header=0)[2]

data = data.dropna()

data = data[["Рік", "Середній розмір зарплати в гривнях"]]

data["Середній розмір зарплати в гривнях"] = data["Середній розмір зарплати в гривнях"].str.replace(" ", "").str.replace(",", ".").astype(float)

last_5_years_data = data.tail(5)

last_2_years_data = data.tail(2)

average_salary_last_5_years = last_5_years_data["Середній розмір зарплати в гривнях"].mean()
average_salary_last_2_years = last_2_years_data["Середній розмір зарплати в гривнях"].mean()

if average_salary_last_2_years > average_salary_last_5_years:
    difference_direction = "зростання"
    difference_value = average_salary_last_2_years - average_salary_last_5_years
elif average_salary_last_2_years < average_salary_last_5_years:
    difference_direction = "зменшення"
    difference_value = average_salary_last_5_years - average_salary_last_2_years
else:
    difference_direction = "різниця відсутня"
    difference_value = 0

print(f"Середня зарплата за останні 5 років: {average_salary_last_5_years} грн")
print(f"Середня зарплата за останні 2 роки: {average_salary_last_2_years} грн")
print(f"Різниця: {difference_value} грн ({difference_direction})")