In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
#1. Прочитайте csv файл (метод read_csv)
import pandas as pd

# Вкажіть шлях до вашого CSV-файлу
file_path = "/content/bestsellers with categories.csv"

# Використовуйте метод read_csv для зчитування файлу
data = pd.read_csv(file_path)

In [8]:
#2.Виведіть перші 10 рядків (метод head)
print(data.head(10))

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [9]:
#3.Виведіть розміри датасету (метод shape)
import pandas as pd

shape = data.shape
print("Кількість рядків:", shape[0])
print("Кількість стовпців:", shape[1])
#Питання: Про скільки книг зберігає дані датасет?
#Відповідь про 550 книг

Кількість рядків: 550
Кількість стовпців: 7

In [10]:
#Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.
import pandas as pd
# Змініть назви колонок
data.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
# Виведіть оновлені назви колонок
print(data.columns)

Index(['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre'], dtype='object')

In [11]:
#5.Вивести кількість пропусків у кожному стовпчику.
import pandas as pd
# Виведіть кількість пропусків у кожному стовпчику
missing_values = data.isnull().sum()
print(missing_values)
#Чи є в якихось змінних пропуски?
#Ні

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

In [13]:
#6.За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre

# Виведіть унікальні жанри у стовпці "genre"
unique_genres = data['genre'].unique()

# Виведіть список унікальних жанрів
print("Унікальні жанри:")
for genre in unique_genres:
    print(genre)
#Питання : Які є унікальні жанри?
#Унікальні жанри:Non Fiction,Fiction

Унікальні жанри:
Non Fiction
Fiction

In [14]:
#7.Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median
import pandas as pd


# Максимальна ціна
max_price = data['price'].max()

# Мінімальна ціна
min_price = data['price'].min()

# Середня ціна
mean_price = data['price'].mean()

# Медіанна ціна
median_price = data['price'].median()


# Виведення результатів
print("Максимальна ціна:", max_price)
print("Мінімальна ціна:", min_price)
print("Середня ціна:", mean_price)
print("Медіанна ціна:", median_price)

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

In [18]:
#8.Виконайте наступні завдання з пошуку і сортування даних
import pandas as pd

#  Питання: Який рейтинг у датасеті найвищий?
# Завдання 1: Найвищий рейтинг
max_rating = data['user_rating'].max()

# Завдання 2: Кількість книг з найвищим рейтингом
count_books_with_max_rating = len(data[data['user_rating'] == max_rating])

# Завдання 3: Книга з найбільшою кількістю відгуків
max_reviews_book = data[data['reviews'] == data['reviews'].max()]

# Завдання 4: Найдорожча книга серед тих, що потрапили до Топ-50 у 2010 році
top_2010_books = data[data['year'] == 2010]
most_expensive_2010_book = top_2010_books[top_2010_books['price'] == top_2010_books['price'].max()]

# Завдання 5: Кількість книг жанру Fiction, що потрапили до Топ-50 у 2012 році
fiction_2012_books = data[(data['genre'] == 'Fiction') & (data['year'] == 2012)]
count_fiction_2012_books = len(fiction_2012_books)

# Завдання 6: Кількість книг з рейтингом 4.9, що потрапило до рейтингу у 2010 та 2011 роках
years_2010_2011 = [2010, 2011]
rating_4_9_books_2010_2011 = data[(data['user_rating'] == 4.9) & (data['year'].isin(years_2010_2011))]

# Виведення результатів
print("Завдання 1: Найвищий рейтинг:", max_rating)
print("Завдання 2: Кількість книг з найвищим рейтингом:", count_books_with_max_rating)
print("Завдання 3: Книга з найбільшою кількістю відгуків:")
print(max_reviews_book[['name', 'reviews']])
print("Завдання 4: Найдорожча книга серед тих, що потрапили до Топ-50 у 2010 році:")
print(most_expensive_2010_book[['name', 'price']])
print("Завдання 5: Кількість книг жанру Fiction, що потрапили до Топ-50 у 2012 році:", count_fiction_2012_books)
print("Завдання 6: Кількість книг з рейтингом 4.9, що потрапило до рейтингу у 2010 та 2011 роках:", len(rating_4_9_books_2010_2011))

Завдання 1: Найвищий рейтинг: 4.9
Завдання 2: Кількість книг з найвищим рейтингом: 52
Завдання 3: Книга з найбільшою кількістю відгуків:
                        name  reviews
534  Where the Crawdads Sing    87841
Завдання 4: Найдорожча книга серед тих, що потрапили до Топ-50 у 2010 році:
                                                  name  price
272  Publication Manual of the American Psychologic...     46
Завдання 5: Кількість книг жанру Fiction, що потрапили до Топ-50 у 2012 році: 21
Завдання 6: Кількість книг з рейтингом 4.9, що потрапило до рейтингу у 2010 та 2011 роках: 1

In [19]:
#9.Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.
import pandas as pd


# Виберіть потрібні стовпці: 'genre' і 'price'
selected_columns = ['genre', 'price']
selected_data = data[selected_columns]

# Згрупуйте дані за жанром та обчисліть максимальну та мінімальну ціну для кожного жанру
result = selected_data.groupby('genre').agg({'price': ['max', 'min']})

# Перейменуйте стовпці для більшої зрозумілості
result.columns = ['Максимальна ціна', 'Мінімальна ціна']

# Виведіть результат
print(result)

             Максимальна ціна  Мінімальна ціна
genre
Fiction                    82                0
Non Fiction               105                0